*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   
}

main{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 3rem;
}

h1{
   margin: 10px 0px;
}

.input{

  
   border: 1px;

   display: flex;
   flex-direction: column;
   width: 200px;
   height: 450px;

   margin: 0 6rem ;
   padding: 1rem;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 15px;
	background-color: #CCCCFF;


}

.input__form{
   display: flex;
   flex-direction: column;
}

.input__form__input{
   height: 2rem;
   border-radius: 21px;
   border: 1px solid black;
   margin: 1rem 0rem;
   padding: 0rem 1rem;
}

.output{
   width: 50%;
   height: 500px;
   padding: 2rem;
   
   border-radius: 15px;
	
}

.input__form__button{
     background-color: rgb(64, 224, 208);
   color: white;
   width: 10rem;
   height: 2rem;
   
}

.table{
}
.table td, .table th {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: center;
	
 }

 .table tr:nth-child(even){background-color: white;}
 .table th {
   padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: deepskyblue;
  color: black;
}
